h1 {
    color: blue;
}
.praktika {
    font-weight: bold;
}

/* klasės */
p.praktika {
    font-size: 150%;
    padding: 0.2em 1.25em
}
.teorija {
    font-style: italic;
}
p.teorija {
    font-size: 150%;
    padding: 1em 1.25em 
}
p.teorija>em {
    font-size: 70%;
    /* INHERIT */
    padding:inherit
}

/* id */
p#nera {
    color: teal
}
/* vaikas */
p#nera>em {
    color: red;
    font-size: 150%;
}

/* įpėdinis */
ul li {
    color: darkgreen
}

p {
    color: darkmagenta
}

/*atributas*/
body h2[title] {
    /* IMPORTANT */
    background-color: lightsteelblue 
}
h2[title] {
    background-color: mediumvioletred
}